.label-contacto{
  text-align: center;
}

.select-contacto{
  height: 30px;
  }
.select-contacto:hover{
border: solid 2px rgb(169, 118, 15)
}

textarea:hover{
border: solid 2px rgb(169, 118, 15)
}

  .input-contacto{
    border-radius: 0;
  }

  .btn-enviar-contacto{
    margin-top: 10px;
  }


  @media(max-width:768px){
            .btn-enviar-contacto{
              width: 30%;
              height: 50px;
              margin-top: 10px;
            }
  }