footer{
    padding-top: 5%;
    margin: auto;
}

.div-footer{
    background-color: #08080899;
    display: flex;
    justify-content: space-around;
    
}


.p-footer{
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    color: antiquewhite;
}

@media(max-width: 768px){
    .div-footer{
        text-align: center;
        
    }
}







