.navUl{
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  background-color: #FCF3CF;
  padding: 20px;
  border: 2px solid black;
  border-radius: 10px;
  
  
  
}

.navUl li{
  margin: auto;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  font-weight: 700;
}

.enlace {
  text-decoration: none;
  color: black;
  
}

.enlace:visited {
  color: black;
}

.enlace:hover{
  text-decoration: underline;
  
}




img{
  width: 200px;
  height: 40px;
  object-fit: cover;
  border-radius: 10px;
 
}

@media(max-width: 768px){
  .navUl li {
    font-size: 20px;
  }
 
  
}