.tarea-lista-principal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #0e0c0c;
    border-radius: 4px;
  }
  
  .tarea-lista-principal h1 {
    font-size: 24px;
    margin-bottom: 16px;
  }
  
  .tarea-lista-principal #editarTitulo {
    padding: 8px 16px;
    background-color: #690505;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
  }
  
  .tarea-lista-principal .tarea-inputs {
    display: flex;
  }
  
  .tarea-lista-principal .tarea-input {
    padding: 8px;
    border: 1px solid #15cc34;
    margin-right: 8px;
  }
  
  .tarea-lista-principal .tarea-boton {
    padding: 8px 16px;
    background-color: #243070;
    border: none;
    cursor: pointer;
  }
  
  .tarea-lista-contenedor {
    margin-top: 16px;
  }
  
  
  