
body{
  
  background-color: #F7F9F9;  


}


.div-img{
text-align: center;
}


h2{
color:#0F0F0F;
text-align: center;
font-family: Arial, Helvetica, sans-serif;
font-size: 48px;
font-weight: 700;
line-height: 48px;

}